*.acn
*.acr
*.alg
*.aux
*.backup
*.bbl
*.bcf
*.blg
*.bib.bak
*.fdb_latexmk
*.fls
*.glg
*.glo
*.gls
*.ist
*.kilepr
*.latexmain
*.lof
*.log
*.lot
*.out
*.nav
*.snm
*.run.xml
*.synctex.gz
*.tdo
*.toc
*.pdf
